
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format('woff'),
       url("../fonts/opensanslight.woff2") format('woff2');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format('woff'),
       url("../fonts/opensans.woff2") format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/gilroyextrabold.woff") format('woff'),
       url("../fonts/gilroyextrabold.woff2") format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff") format('woff'),
       url("../fonts/gilroylight.woff2") format('woff2');
}

/* ------------------------Global---------------  */

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  position: relative;

  width: 220px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main-header .container {
  background-color: rgb(247, 226, 150);

  position: relative;
  margin-top: 40px;
  min-height: 299px;
  padding-top: 28px;
  padding-bottom: 110px;
  padding-left: 60px;
  padding-right: 60px;
}

.header-logo-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;

  margin: 0;
}

.header-logo-text:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo-text:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-search > label {
  position: relative;

  font-size: 0;
}

.header-search > label::before {
  content: "";

  width: 16px;
  height: 16px;

  position: absolute;
  top: -13px;
  right: -19px;

  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-search-field {
  width: 350px;
  padding-bottom: 13px;
  padding-left: 35px;

  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.header-search-field:focus {
  border-bottom: 2px solid black;
}

.header-search-field:focus ~ .header-search-submit {
  visibility: visible;
  border: 2px solid black;
}

.header-search-field:hover::-webkit-input-placeholder,
.header-search-field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-search-submit {
  visibility: hidden;

  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  padding: 7px 19px;
  margin-left: -4px;
}

.header-search-submit:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.header-search-submit:active {
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.3);
}

.header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  padding-left: 27px;
  min-width: 280px;
  text-align: left;
}

.header-user-logout a {
  font-style: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.header-interaction-nav {
  list-style: none;
  padding: 0;
}
.header-contacts-link,
.service-nav-delivery,
.service-nav-warranty,
.footer-contacts-link {
font-family: "Gilroy", Arial, sans-serif;
font-weight: 900;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.header-user li:hover,
.header-interaction-nav li:hover,
.header-interactin-nav li:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user li:active,
.header-interaction-nav li:active,
.header-interaction-nav li:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog_open {
  list-style: none;
}

.header-catalog_open-item {
  line-height: 36px; 
}

.header-catalog_open-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-catalog_open-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog-title,
.header-service-nav,
.header-contacts {
  list-style: none;
}

.header-catalog-title:hover ~ .header-catalog_open,
.header-catalog-title:focus ~ .header-catalog_open {
  visibility: visible;
}

.header-catalog-title:hover,
.service-nav-delivery:hover,
.service-nav-warranty:hover,
.header-contacts:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-catalog-title:active,
.header-service-nav:active,
.header-contacts:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  position: relative;
  height: 482px;

  margin-bottom: 111px;
}

.slider-slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-btns {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.slide-title {
  position: relative;
  z-index: 2;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.table-value td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.table-name td {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.slider > .container {
  position: relative;
  margin-top: -110px;
}

.slider-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: 169px;
  right: 93px;
}

.circle {
  display: inline-block;
  margin-right: 33px;
}

.circle:last-child {
  margin-right: 0;
}

.circle label {
  font-size: 0;
  position: relative;
}

.slider-btns-item + label::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url(../img/icons/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 12px;

  cursor: pointer;
}

.slider-btns-item:checked + label::before {
  background-image: url(../img/icons/slider-button.svg);
}

.slider-slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-slides li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 90px;
}

.slider-left-col {
  width: 490px;
  margin-right: 20px;
}

.slider-right-col {
  position: relative;

  width: 560px;
  padding-top: 80px;
}

.slider-right-col::before {
  content: "";

  position: absolute;
  left: 0;
  top: 37px;

  width: 100px;
  height: 7px;

  background-color: rgb(255, 255, 255);
}

.slider-right-col::after {
  content: "";
  position: absolute;
  top: -13px;
  right: 46px;
  z-index: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  letter-spacing: 0.01em;
}

.slide-monopod .slider-right-col::after {
  content: "01";
}

.slide-fitness .slider-right-col::after {
  content: "02";
}

.slider-kvadrocopter .slider-right-col::after {
  content: "03";
}

.slide-title {
  margin: 0;
  margin-bottom: 18px;
}

.slide-description {
  margin: 0;
  margin-bottom: 49px;
}

.slide-more-info {
  padding: 8px 42px;
  position: relative;
}

.slide-more-info::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);

}

.slide-more-info:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);

}

.slide-more-info:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: none;
  background-color: rgb(240, 197, 46);
}

.slide-info {
  margin-top: 53px;
  margin-left: -2px;
  border-collapse: collapse;
  border-spacing: 0;
}

.slide-info td {
  width: 160px;
  padding: 0;
}

.slide-info td:nth-child(2) {
  width: 140px;
}

.table-name td {
  padding-top: 7px;
}

.categories {
  margin-bottom: 163px;
}

.categories-list{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.categories-item:nth-child(2) p {
  width: 125px;
}

.categories-item:nth-child(2) div {
  padding-top: 42px;
}

.categories-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.categories-item-link p {
  width: 160px;
}

.categories-item-link p:active {
  color: rgba(0, 0, 0, 0.3);
}

.partners {
  margin-bottom: 81px;
}

.partners-list {
  display: block;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 0; 
}

.logo-dji:hover {
  background-image: url("../img/logo-dji_h.jpg");
}

.logo-spgadgets:hover {
  background-image: url("../img/logo-spgadgets_h.jpg");
}

.logo-gopro:hover {
  background-image: url("../img/logo-gopro_h.jpg");
}

.logo-vive:hover {
  background-image: url("../img/logo-vive_h.jpg");
}

.delivery-btn,
.warranty-btn,
.credit-btn {
  position: relative;
  border: none;
  width: 160px;
}

.delivery-btn::after,
.warranty-btn::after,
.credit-btn::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);
}

.delivery-btn:hover::after,
.warranty-btn:hover::after,
.credit-btn:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);
}

.delivery-btn:active::after,
.warranty-btn:active::after,
.credit-btn:active::after,
.services-controls > .current::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 274px;
  height: 40px;

  background-color: rgb(0, 0, 0);
}

.delivery-btn:active,
.warranty-btn:active,
.credit-btn:active,
.services-controls > .current {
  color: rgb(247, 225, 132);
}

.about h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.about-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-left: 35px;
  list-style: circle inside;
}

.about-list li {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
}

.contacts h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.about-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.write-us-input,
.write-us-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  outline: none;
  border: none;
  background-color: rgb(242, 242, 242);
}

.write-us-input:focus,
.write-us-textarea:focus {
  border: 2px solid rgb(247, 226, 150);
} 

.write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.write-us-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-submit-form {
  border: none;
}

.btn-submit-form:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
}

.footer-logo-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: rgb(255, 198, 0);
}

.footer-logo-text:hover {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo-text:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer-user li {
  margin-right: 20px;
}

.footer-interaction-nav {
  list-style: none;
}

.footer-interaction-nav li,
.footer-user li {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7)
}

.footer-interaction-nav li:hover,
.footer-user li:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-interaction-nav li:active,
.footer-user li:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-service-nav,
.footer-contacts {
  list-style: none;
}

.footer-service-nav:hover,
.footer-contacts:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-service-nav:active,
.footer-contacts:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  list-style: none;
}

.footer-logo-academy {
  margin-left: 52px;
}

.catalog-header .container {
  min-height: 187px;
  padding-bottom: 20px;
  margin-bottom: 36px;
}

.crumbs {
  padding: 0 60px;
  margin-bottom: 44px;
}

.catalog-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  
  margin: 0;
  margin-bottom: 19px;
}

.catalog-path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 37px;
  padding: 0;
  list-style: none;
}

.catalog-path-item {
  margin-right: 37px;
}

.catalog-path-item a {
  position: relative;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.catalog-path-item a:hover,
.catalog-path-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-path-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-path-item:not(:last-child) a::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -20px;
  z-index: 1;
  width: 7px;
  height: 7px;
  border-radius: 50px 0 0 0;
  -webkit-transform: rotate(-45deg) scale(0.73);
      -ms-transform: rotate(-45deg) scale(0.73);
          transform: rotate(-45deg) scale(0.73);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.filter-sidebar {
  width: 470px;
}

.filter-sidebar-caption,
.catalog-sort-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-sort-types a,
.catalog-sort-buttons a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-types a:hover,
.catalog-sort-buttons a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-types a:active,
.catalog-sort-buttons a:active {
  color: rgba(0, 0, 0, 1);
}

.filter-group {
  margin: 0;
  padding: 0;
}

.filter-group:nth-child(1) {
  margin-bottom: 50px;
}

.filter-group:nth-child(2) {
  margin-top: -15px;
  margin-bottom: 39px;
}

.bluetooth-item:nth-child(1) {
  margin-bottom: 5px;
}

.color-list {
  margin-top: -7px;
}

.filter-group legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;

  margin-bottom: 18px;
  padding-top: 12px;
}

.filter-group span {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.filter-form fieldset::before,
.filter-group > span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.filter-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.min-price,
.max-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: lowercase;
}

.filter-group {
  border: none;
  margin-bottom: 32px;
  position: relative;
}

.color-list label,
.bluetooth-list label {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/icons/radio-on.svg");
  background-repeat: no-repeat;
}

.filter-form input[type="checkbox"]:focus + label::before,
.filter-form input[type="radio"]:focus + label::before {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
  outline: 1px dotted #212121;
}

.filter-input + label:hover::before {
  opacity: 0.6;
}

.filter-input + label:active::before {
  opacity: 1;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.filter-input:disabled + label::before {
  opacity: 0.25;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.color-list-item {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-input:disabled {
  color: rgb(166, 166, 166);
}

.filter-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  border: none;
  
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 8px 39px;
}

.filter-btn::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);
}

.filter-btn:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);
}

.filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-list {
  list-style: none;
}

.product-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.usage-links {
  display: none;
}

.product-list .product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.usage-links .add-to-cart {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  border: none;
  width: 200px;
  margin-bottom: 15px;
}

.usage-links .add-to-cart:active,
.slide-more-info:active {
  color: rgba(0, 0, 0, 0.3);
}

.usage-links .add-to-compare {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border: none;
  width: 200px;
}

.usage-links .add-to-compare:hover,
.usage-links .add-to-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.usage-links .add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pages-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 760px;
  min-height: 70px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  margin: 0;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 75px;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  list-style: none;
  background-color: #ebebeb;
}

.pages-nav-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.page a {
  color: rgba(0, 0, 0, 0.3);
}

.page a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page a:active {
  color: #000000;
}

.page.current a {
  color: #000000;
}

.ctrl-prev-btn,
.ctrl-next-btn {
  padding: 24px 26px 24px 30px;

  color: #000000;
}

.page-numbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 90px;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  list-style: none;
}

.ctrl-prev-btn:hover,
.ctrl-next-btn:hover,
.ctrl-prev-btn:focus,
.ctrl-next-btn:focus {
  background-color: #d9d9d9;
}

.ctrl-prev-btn:active,
.ctrl-next-btn:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.footer-user-logout a {
  font-style: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-user-logout a {
  color: rgba(255, 255, 255, 0.3);
}

.header-logo {
  position: absolute;
  top: -23px;
  left: 58px;
}

.header-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.header-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.header-left-col {
  width: 580px;
  margin-top: 12px;
}

.header-right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 580px;
  padding-left: 20px;
}

.header-user-login a {
  position: relative;
}

.header-user-login a::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -25px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-login a:hover::before,
.header-user-login a:focus::before {
  opacity: 0.6;
}

.header-user-login a:active::before {
  opacity: 0.3;
}

.header-user-logout {
  margin-left: -5px;
}

.header-user-name a {
  position: relative;
}

.header-user-name a::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -26px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-name a:hover::before,
.header-user-name a:focus::before {
  opacity: 0.6;
}

.header-user-name a:active::before {
  opacity: 0.3;
}

.header-interaction-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 27px;
}

.header-interaction-nav-compare a {
  position: relative;
}

.header-interaction-nav-compare a::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -20px;

  width: 10px;
  height: 10px;

  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-interaction-nav-compare a:hover::before,
.header-interaction-nav-compare a:focus::before {
  opacity: 0.6;
}

.header-interaction-nav-compare a:active::before {
  opacity: 0.3;
}

.header-interaction-nav-cart a {
  position: relative;
}

.header-interaction-nav-cart a::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -23px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-interaction-nav-cart a:hover::before,
.header-interaction-nav-cart a:focus::before {
  opacity: 0.6;
}

.header-interaction-nav-cart a:active::before {
  opacity: 0.3;
}

.header-service-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-right: 6px;
  min-width: 280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-contacts {
  padding: 0; 
  margin-right: -4px;
}

.header-catalog {
  position: relative;
}

.header-catalog-title {
  position: relative;
}

.header-catalog-title::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 230px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-catalog_open {
  visibility: hidden;

  list-style: none;
  padding: 0;
  margin: 0;

  position: absolute;
  z-index: 3;
  top: 25px;
  left: -60px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1160px;

  background-color: rgb(247, 226, 150);

  -webkit-box-pack: start;

      -ms-flex-pack: start;

          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 22px 500px 34px 61px;

  min-height: 144px;
}

.header-catalog_open:hover {
  visibility: visible;
}

.header-catalog_open-item a {
  line-height: 36px;
  letter-spacing: 0.2px;
}

.header-catalog_open-item:nth-child(1),
.header-catalog_open-item:nth-child(4),
.header-catalog_open-item:nth-child(6) {
  width: 240px;
}

.header-catalog_open-item:nth-child(2),
.header-catalog_open-item:nth-child(5) {
  width: 200px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.category-image:hover {
  background-color: rgb(240, 197, 46);
}

.categories-item-link:active svg,
.categories-item-link:active p {
  opacity: 0.3;
}

.categories-item-link p {
  width: 160px;
}

.services {
  min-height: 288px;
  margin-bottom: 93px;

  background-color: rgb(229, 229, 229);
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-services-col {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 280px;
  height: 156px;

  padding-right: 120px;
  padding-left: 3px;
  margin-top: -14px;
}

.left-services-col::after {
  content: "";

  position: absolute;
  top: -87px;
  left: 277px;

  width: 7px;
  height: 319px;

  background-color: rgb(0, 0, 0);
}

.services-controls button {
  background-color: transparent;
} 

.right-services-col {
  width: 555px;

  padding-left: 120px;
  margin-top: -31px;
}

.services-slide-delivery,
.services-slide-warranty,
.services-slide-credit {
  position: relative;
}

.services-slide-delivery::after {
  content: "";

  position: absolute;
  left: 558px;
  top: 15px;

  width: 173px;
  height: 195px;

  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-warranty::after {
  content: "";

  position: absolute;
  left: 544px;
  top: -9px;

  width: 173px;
  height: 195px;

  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-credit::after {
  content: "";

  position: absolute;
  left: 537px;
  top: -9px;

  width: 173px;
  height: 195px;

  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-title {
  margin-bottom: 26px;
}

.services-slide-description {
  margin: 0;
}

.company-info p {
  letter-spacing: 0;
}

.about {
  position: relative;
  min-height: 605px;
  width: 475px;
  margin-right: 123px;
}

.about::before {
  content: "";

  position: absolute;
  top: -52px;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0)
}

.about-title,
.contacts-title {
  margin: 0;
  margin-bottom: 43px;
}

.about-text p:nth-child(1) {
  margin: 0;
  margin-bottom: 30px;
}

.about-text p:nth-child(2) {
  margin: 0;
  margin-bottom: 66px;
}

.contacts {
  position: relative;
  min-height: 605px;
  width: 560px;
}

.contacts::before {
  content: "";

  position: absolute;
  top: -52px;
  left: 2px;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0)
}

.contacts-text {
  margin: 0;
  margin-bottom: 39px;
}

.contacts-map {
  margin-bottom: 65px;
}


.write-us-btn {
  padding: 8px 42px;
}

.about-btn {
  padding: 8px 22px;
}

.about-btn::after,
.write-us-btn::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);
}

.about-btn:hover::after,
.write-us-btn:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);
}

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 55px;
}

.main-footer {
  min-height: 325px;
  position: relative;
}

.footer-logo {
  position: absolute;
  top: 58px;
  left: 139px;
}

.footer-logo-text {
  margin: 0;
}

.footer-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  padding-top: 58px;
  padding-bottom: 30px;
  margin-bottom: 3px;
}

.footer-user {
  position: relative;
  margin: 0;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
}

.footer-user::before {
  content: "";

  position: absolute;
  top: 13px;
  left: -25px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user-fh.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.footer-interaction-nav {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 215px;
}

.footer-interaction-nav-compare,
.footer-interaction-nav-cart {
  position: relative;
}

.footer-interaction-nav-compare::before {
  content: "";

  position: absolute;
  top: 15px;
  left: -20px;

  width: 10px;
  height: 10px;

  background-image: url("../img/icons/compare-fh.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-interaction-nav-cart::before {
  content: "";

  position: absolute;
  top: 13px;
  left: -21px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icons/cart-fh.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-middle-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-bottom: 63px;
}

.footer-address {
  margin: 0;
}

.footer-service-nav {
  width: 272px;
  margin: 0;
  margin-left: -38px;
  margin-right: -165px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contacts {
  width: 120px;
  margin: 0;
  padding: 0;
}

.footer-phone {
  margin: 0;
}

.footer-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom-row::before {
  content: "";
  display: block;

  width: 80px;
  height: 7px;
  background-color: rgb(255, 198, 0);
}

.footer-social {
  width: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.social-button {
  color: rgb(255, 255, 255);
}

.social-button img {
  opacity: 0.3;
}

.social-button img:hover {
  opacity: 0.6;
}

.social-button img:active {
  opacity: 0.1;
}

.logo-academy {
  color: rgb(255, 198, 0);
}

.logo-academy:hover,
.logo-academy:focus {
  opacity: 0.6;
}

.logo-academy:active {
  opacity: 0.3;
}

.catalog-info-row {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(220, 220, 220)), color-stop(50%, rgb(220, 220, 220)), color-stop(50%, rgb(235, 235, 235)), to(rgb(235, 235, 235)));
  background-image: -webkit-linear-gradient(left, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 100%);
  background-image: -o-linear-gradient(left, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 100%);
  background-image: linear-gradient(to right, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 100%);
}

.catalog-info-row .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
}

.catalog-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 832px;
  

  background-color: rgb(235, 235, 235);
}

.catalog-sort-caption {
  padding-left: 71px;
  width: 270px;
}

.catalog-sort-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 460px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-sort-types a {
  margin-right: 30px;
}

.catalog-sort-buttons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-top: 10px;
}

.arrow {
  display: block;
  margin-left: 15px;
  font-size: 0;
}

.arrow::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  opacity: 0.2;
  margin-left: 2px;
  border: 12px solid black;
  border-right-width: 6px;
  border-left-width: 6px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow:hover::before,
.arrow:focus::before {
  cursor: pointer;
  opacity: 0.4;
}

.arrow:active::before {
  cursor: pointer;
  opacity: 1;
}

.sort-up::before {
  border-top-width: 0;
}

.sort-down::before {
  border-bottom-width: 0;
}

.filter-form {
  width: 200px;
}

.filter-price-range {
  margin-top: 43px;
  margin-bottom: -25px;
}

.filter-price-range input {
  width: 50px;
}

.price-controls {
  position: relative;
  margin-top: 17px;
  margin-bottom: 8px;
}

.price-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.price-controls .bar {
  width: 115px;
  height: 2px;
  background: #91c92f;
}

.range-toggle {
  content: "";
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.range-toggle-min {
  left: -6px;
}

.range-toggle-max {
  left: 107px;
}

.filter-form .price-label,
.filter-form .price-value {
  border: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.price-value[name="min-price"] {
  margin-right: 17px;
}

.catalog-left-side {
  background-color: rgb(239, 239, 239);
}

.catalog-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 832px;
}

.catalog-products {
  padding-top: 49px;
  padding-left: 52px;

  width: 832px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 780px;
  margin: 0;
  padding: 0;
}

.product {
  width: 360px;
  margin: 20px;
}

.product:nth-child(2n) {
  margin-right: 0;
}

.product.new {
  position: relative;
}

.product.new::before {
  content: "new";
  position: absolute;
  top: 27px;
  right: 27px;
  z-index: 3;
  width: 60px;
  height: 60px;
  padding: 18px 12px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.image-hover-wrapper {
  position: relative;
}

.image-hover-wrapper:hover img{
  opacity: 0.7;
}

.image-hover-wrapper:hover .usage-links {
  position: absolute;
  top: 174px;
  left: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

.add-to-cart {
  padding: 8px 35px;
  z-index: 0;
}

.add-to-cart::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);
}

.add-to-cart:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);
}

.product-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  margin-top: 27px;
}

.product-price {
  margin: 0;
}

.filter-sidebar-caption {
  min-width: 330px;
  background-color: rgb(220, 220, 220);
}

.filter-sidebar-caption h4 {
  margin: 0;
  margin-left: 61px;
  margin-top: 24px;
}

.filter-sidebar {
  min-width: 330px;
  padding: 69px 68px 0 60px;
} 

.catalog-wrapper {
  background-image: -webkit-gradient(linear, left top, right top, from(rgb(238, 238, 238)), color-stop(25%, rgb(238, 238, 238)), color-stop(25%, rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background-image: -webkit-linear-gradient(left, rgb(238, 238, 238) 0%, rgb(238, 238, 238) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 100%);
  background-image: -o-linear-gradient(left, rgb(238, 238, 238) 0%, rgb(238, 238, 238) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 100%);
  background-image: linear-gradient(to right, rgb(238, 238, 238) 0%, rgb(238, 238, 238) 25%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 100%);
}

.modal {
  position: fixed;
  top: 120px;
  left: 50%;
  z-index: 4;
  display: none;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translateX(-50%);
            transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    -webkit-transform: translateY(30px) translateX(-50%);
            transform: translateY(30px) translateX(-50%);
  }
  90% {
    -webkit-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translateX(-50%);
            transform: translateY(-2000px) translateX(-50%);
  }
  70% {
    -webkit-transform: translateY(30px) translateX(-50%);
            transform: translateY(30px) translateX(-50%);
  }
  90% {
    -webkit-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%) translateX(0);
            transform: translateX(-50%) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateX(-10px);
            transform: translateX(-50%) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateX(10px);
            transform: translateX(-50%) translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%) translateX(0);
            transform: translateX(-50%) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-50%) translateX(-10px);
            transform: translateX(-50%) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-50%) translateX(10px);
            transform: translateX(-50%) translateX(10px);
  }
}


.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 20px;
  width: 55px;
  height: 55px;
  font-size: 0;
  background-color: #f0c52e;
  opacity: 0.5;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 14px;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}

.modal-close::after {
-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-write-us {
  width: 960px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 96px;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.modal-write-us label {
  margin-bottom: 5px;
}

.modal-write-us .wrapper-column {
  margin-bottom: 33px;
}

.modal-write-us input,
.modal-write-us textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
}

.modal-write-us textarea {
  min-height: 160px;
  width: 760px;
  resize: none;
}

.write-us-form input,
.write-us-form label {
  display: block;
  width: 360px;
}

.write-as-textarea {
  width: 760px;
}

.form-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-map {
  width: 960px;
  height: 560px;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-submit-btn {
  z-index: 2;
  padding: 8px 42px;
  position: relative;

  border: none;

}

.modal-submit-btn::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);

}

.modal-submit-btn:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);

}

.modal-submit-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: none;
  background-color: rgb(240, 197, 46);
}