@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format('woff'),
       url("../fonts/opensanslight.woff2") format('woff2');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format('woff'),
       url("../fonts/opensans.woff2") format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/gilroyextrabold.woff") format('woff'),
       url("../fonts/gilroyextrabold.woff2") format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff") format('woff'),
       url("../fonts/gilroylight.woff2") format('woff2');
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.main-header {
  background-color: rgb(247, 226, 150);
}

.header-logo-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
}

.header-logo-text:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo-text:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input {
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: rgb(247, 226, 150);
}

.header-search input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-search input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-user {
  list-style: none;
}

.interaction-nav-btns {
  list-style: none;
}

.header-user-login:hover,
.interaction-nav-compare:hover,
.interaction-nav-cart:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-login:active,
.interaction-nav-compare:active,
.interaction-nav-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog_open {
  list-style: none;
}

.header-catalog_open-item {
  line-height: 36px; 
}

.header-catalog_open-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-catalog_open-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog-title,
.header-service-nav,
.header-contacts,
.footer-service-nav,
.footer-contacts {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  list-style: none;
}

.header-catalog-title:hover,
.header-service-nav:hover,
.header-contacts:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-catalog-title:active,
.header-service-nav:active,
.header-contacts:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-btns {
  list-style: none;
}

.slide-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.slide-number {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 179.2px;
  line-height: 179.2px;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
}

.slide-more-info,
.delivery-btn,
.warranty-btn,
.credit-btn,
.about-btn,
.write-us-btn,
.btn-submit-form {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
}

.about-btn:active,
.write-us-btn:active,
.btn-submit-form:active {
  color: rgba(0, 0, 0, 0.3);
}

.delivery-btn:active,
.warranty-btn:active,
.credit-btn:active {
  color: rgb(247, 225, 132);
}

.table-value td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.table-name td {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.categories-list{
  display: flex;
  list-style: none;
}

.categories-item {
  width: 160px;
  height: 160px;
  background-color: rgb(247, 226, 150);
}


.categories-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.categories-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.partners-list {
  display: flex;
  list-style: none;
}

.about h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.about-list li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
}

.contacts h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.write-us-input,
.write-us-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  outline: none;
  border: none;
  background-color: rgb(242, 242, 242);
}

.write-us-input:focus,
.write-us-textarea:focus {
  border: 2px solid rgb(247, 226, 150);
} 

.write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.main-footer {
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
}

.footer-logo-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: rgb(255, 198, 0);
}

.footer-logo-text:hover {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo-text:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-user {
  list-style: none;
}

.footer-interaction-nav-btns {
  list-style: none;
}

.footer-interaction-nav li,
.footer-user li {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7)
}

.footer-interaction-nav li:hover,
.footer-user li:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-interaction-nav li:active,
.footer-user li:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-service-nav {
  list-style: none;
}

.footer-service-nav:hover,
.footer-contacts:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-service-nav:active,
.footer-contacts:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  list-style: none;
}

.logo-academy {
  color: rgb(255, 198, 0);
}

.catalog-path-list {
  display: flex;
  list-style: none;
}

.catalog-path-item a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-path-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-path-item a:active{
  color: rgba(0, 0, 0, 0.1);
}

.filter-sidebar {
  width: 470px;
}

.filter-sidebar-caption,
.catalog-sort-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-sort-types a,
.catalog-sort-buttons a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-types a:hover,
.catalog-sort-buttons a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-types a:active,
.catalog-sort-buttons a:active {
  color: rgba(0, 0, 0, 1);
}

.filter-group legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.min-price,
.max-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: lowercase;
}

.color-list {
  list-style: none;
}

.bluetooth-list {
  list-style: none;
}

.color-list-item {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-input:disabled {
  color: rgb(166, 166, 166);
}

.filter-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  border: none;
}

.filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.products-list {
  list-style: none;
}

.products-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.products-list .products-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.usage-links .add-to-cart {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  border: none;
}

.usage-links .add-to-cart:active,
.slide-more-info:active {
  color: rgba(0, 0, 0, 0.3);
}

.usage-links .add-to-compare {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.usage-links .add-to-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.usage-links .add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pages-nav-list {
  display: flex;
  list-style: none;
}
.page-numbers-list {
  display: flex;
  list-style: none;
}

.ctrl-prev-btn,
.ctrl-next-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-style: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.ctrl-prev-btn:active,
.ctrl-next-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-numbers-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-style: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
}

.page-numbers-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-numbers-list a:active {
  color: rgba(0, 0, 0, 1);
}

.header-user-logout a,
.footer-user-logout a {
  font-style: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-user-logout a {
  color: rgba(255, 255, 255, 0.3);
}

.logo-dji:hover {
  background-image: url("../img/logo-dji_h.jpg");
}

.logo-spgadgets:hover {
  background-image: url("../img/logo-spgadgets_h.jpg");
}

.logo-gopro:hover {
  background-image: url("../img/logo-gopro_h.jpg");
}

.logo-vive:hover {
  background-image: url("../img/logo-vive_h.jpg");
}
