@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format('woff'),
       url("../fonts/opensanslight.woff2") format('woff2');
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format('woff'),
       url("../fonts/opensans.woff2") format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/gilroyextrabold.woff") format('woff'),
       url("../fonts/gilroyextrabold.woff2") format('woff2');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff") format('woff'),
       url("../fonts/gilroylight.woff2") format('woff2');
}

/* ------------------------Global---------------  */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgb(0, 0, 0);

  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* ---------------------------Global----------------- */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  position: relative;

  width: 220px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-header .container {
  background-color: rgb(247, 226, 150);
}

.header-logo-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
}

.header-logo-text:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-logo-text:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-search input {
  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: transparent;
}

.header-search input:hover::-webkit-input-placeholder,
.header-search input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header-user {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  padding-left: 27px;
  min-width: 280px;
  text-align: left;
}

.header-user-logout a {
  font-style: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.header-interaction-nav {
  list-style: none;
  padding: 0;
}
.header-contacts-link,
.service-nav-delivery,
.service-nav-warranty,
.footer-contacts-link {
font-family: "Gilroy", Arial, sans-serif;
font-weight: 900;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.header-user li:hover,
.header-interaction-nav li:hover,
.header-interaction-nav li:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user li:active,
.header-interaction-nav li:active,
.header-interaction-nav li:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog_open {
  list-style: none;
}

.header-catalog_close {
  display: none;
}

.header-catalog_open-item {
  line-height: 36px; 
}

.header-catalog_open-item:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-catalog_open-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-catalog-title,
.header-service-nav,
.header-contacts {
  list-style: none;
}

.header-catalog-title:hover,
.service-nav-delivery:hover,
.service-nav-warranty:hover,
.header-contacts:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-catalog-title:active,
.header-service-nav:active,
.header-contacts:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-btns {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.slide-title {
  position: relative;
  z-index: 2;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.table-value td {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.table-name td {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.categories-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.categories-item:nth-child(2) p {
  width: 125px;
}

.categories-item:nth-child(2) svg {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.categories-item-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.categories-item-link p {
  width: 160px;
}

.categories-item-link p:active {
  color: rgba(0, 0, 0, 0.3);
}

.partners-list {
  list-style: none;
}

.delivery-btn,
.warranty-btn,
.credit-btn {
  position: relative;
  border: none;
  width: 160px;
}

.delivery-btn::after,
.warranty-btn::after,
.credit-btn::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);
}

.delivery-btn:hover::after,
.warranty-btn:hover::after,
.credit-btn:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);
}

.delivery-btn:active::after,
.warranty-btn:active::after,
.credit-btn:active::after,
.services-controls > .current::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 274px;
  height: 40px;

  background-color: rgb(0, 0, 0);
}

.delivery-btn:active,
.warranty-btn:active,
.credit-btn:active,
.services-controls > .current {
  color: rgb(247, 225, 132);
}

.about h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.about-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-left: 35px;
  list-style: circle inside;
}

.about-list li {
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
}

.contacts h2{
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.about-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.write-us-input,
.write-us-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  outline: none;
  border: none;
  background-color: rgb(242, 242, 242);
}

.write-us-input:focus,
.write-us-textarea:focus {
  border: 2px solid rgb(247, 226, 150);
} 

.write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.write-us-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn-submit-form {
  border: none;
}

.btn-submit-form:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  background-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255);
}

.footer-logo-text {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  color: rgb(255, 198, 0);
}

.footer-logo-text:hover {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo-text:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-user {
  display: flex;
  list-style: none;
}

.footer-user li {
  margin-right: 20px;
}

.footer-interaction-nav {
  list-style: none;
}

.footer-interaction-nav li,
.footer-user li {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7)
}

.footer-interaction-nav li:hover,
.footer-user li:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-interaction-nav li:active,
.footer-user li:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-service-nav,
.footer-contacts {
  list-style: none;
}

.footer-service-nav:hover,
.footer-contacts:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-service-nav:active,
.footer-contacts:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  list-style: none;
}

.logo-academy {
  color: rgb(255, 198, 0);
}

.catalog-item-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.catalog-path {
  display: flex;
  list-style: none;
}

.catalog-path-item a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-path-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-path-item a:active{
  color: rgba(0, 0, 0, 0.1);
}

.filter-sidebar {
  width: 470px;
}

.filter-sidebar-caption,
.catalog-sort-caption {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-sort-types a,
.catalog-sort-buttons a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort-types a:hover,
.catalog-sort-buttons a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort-types a:active,
.catalog-sort-buttons a:active {
  color: rgba(0, 0, 0, 1);
}

.filter-group legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.filter-group span {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.min-price,
.max-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  text-transform: lowercase;
}

.color-list {
  list-style: none;
}

.bluetooth-list {
  list-style: none;
}

.color-list-item {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-input:disabled {
  color: rgb(166, 166, 166);
}

.filter-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  border: none;
}

.filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-list {
  list-style: none;
}

.product-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.product-list .product-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.usage-links .add-to-cart {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  
  border: none;
}

.usage-links .add-to-cart:active,
.slide-more-info:active {
  color: rgba(0, 0, 0, 0.3);
}

.usage-links .add-to-compare {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.usage-links .add-to-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.usage-links .add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pages-nav {
  width: 760px;
  margin-left: 72px;
  margin-bottom: 78px;

  background-color: rgb(235, 235, 235);
}

.pages-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.page-numbers-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  padding: 0 38px;
  list-style: none;
}

.ctrl-prev-btn,
.ctrl-next-btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-style: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.ctrl-prev-btn:active,
.ctrl-next-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-numbers-list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  font-style: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.3);
}

.page-numbers-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-numbers-list a:active {
  color: rgba(0, 0, 0, 1);
}

.footer-user-logout a {
  font-style: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
}

.footer-user-logout a {
  color: rgba(255, 255, 255, 0.3);
}

.logo-dji:hover {
  background-image: url("../img/logo-dji_h.jpg");
}

.logo-spgadgets:hover {
  background-image: url("../img/logo-spgadgets_h.jpg");
}

.logo-gopro:hover {
  background-image: url("../img/logo-gopro_h.jpg");
}

.logo-vive:hover {
  background-image: url("../img/logo-vive_h.jpg");
}

/*-------------Grid-------------- */

.header-logo {
  position: absolute;
  top: -72px;
  left: 58px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main-header .container {
  position: relative;
  margin-top: 40px;
  min-height: 299px;
  padding-top: 28px;
  padding-bottom: 46px;
  padding-left: 60px;
  padding-right: 60px;
}

.header-top-row {
  display: flex;
  margin-bottom: 10px;
}

.header-bottom-row {
  display: flex;
}

.header-left-col {
  width: 580px;
  margin: auto;
}

.header-search {
  position: relative;
  padding-left: 37px;
}

.header-search-submit {
  visibility: hidden;
}

.header-search::before {
  content: "";

  width: 16px;
  height: 16px;

  position: absolute;
  top: 8px;
  left: 3px;

  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-right-col {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 580px;
  padding-left: 20px;
}

.header-user-login {
  position: relative;
}

.header-user-login::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -26px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-name {
  position: relative;
}

.header-user-name::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -26px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-interaction-nav {
  display: flex;
  min-width: 220px;
  justify-content: space-between;
  padding-left: 27px;
}

.header-interaction-nav-compare {
  position: relative;
}

.header-interaction-nav-compare::before {
  content: "";

  position: absolute;
  top: 11px;
  left: -20px;

  width: 10px;
  height: 10px;

  background-image: url("../img/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-interaction-nav-cart {
  position: relative;
}

.header-interaction-nav-cart::before {
  content: "";

  position: absolute;
  top: 9px;
  left: -23px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-service-nav {
  display: flex;
  padding: 0;
  padding-right: 6px;
  min-width: 280px;
  justify-content: space-between;
}

.header-contacts {
  padding: 0; 
  margin-right: -4px;
}

.header-catalog {
  position: relative;
}

.header-catalog-title {
  position: relative;
}

.header-catalog-title::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 230px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-catalog_open {
  list-style: none;
  padding: 0;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;


  justify-content: flex-start;
  align-content: flex-start;
  padding: 2px 500px 28px 0;

  min-height: 129px;

  /* visibility: hidden; */
}

.header-catalog_open-item a {
  line-height: 36px;
  letter-spacing: 0.2px;
}

.header-catalog_open-item:nth-child(1),
.header-catalog_open-item:nth-child(4),
.header-catalog_open-item:nth-child(6) {
  width: 240px;
}

.header-catalog_open-item:nth-child(2),
.header-catalog_open-item:nth-child(5) {
  width: 200px;
}

.slider > .container {
  position: relative;
  top: -111px;
  margin-bottom: -15px;
}

.slider-btns {
  display: flex;
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 169px;
  right: 93px;
}

.circle {
  display: inline-block;
  margin-right: 33px;
}

.circle:last-child {
  margin-right: 0;
}

.circle label {
  font-size: 0;
  position: relative;
}

.slider-btns-item + label::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url(../img/icons/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: 12px;

  cursor: pointer;
}

.slider-btns-item:checked + label::before {
  background-image: url(../img/icons/slider-button.svg);
}

.slider-slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-slides li {
  display: flex;
  padding-left: 90px;
}

.slider-left-col {
  width: 490px;
  margin-right: 20px;
}

.slider-right-col {
  position: relative;

  width: 560px;
  padding-top: 80px;
}

.slider-right-col::before {
  content: "";

  position: absolute;
  left: 0;
  top: 37px;

  width: 100px;
  height: 7px;

  background-color: rgb(255, 255, 255);
}

.slider-right-col::after {
  content: "";
  position: absolute;
  top: -13px;
  right: 46px;
  z-index: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 180px;
  line-height: 180px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  letter-spacing: 0.01em;
}

.slide-monopod .slider-right-col::after {
  content: "01";
}

.slide-fitness .slider-right-col::after {
  content: "02";
}

.slider-kvadrocopter .slider-right-col::after {
  content: "03";
}

.slide-title {
  margin: 0;
  margin-bottom: 18px;
}

.slide-description {
  margin: 0;
  margin-bottom: 49px;
}

.slide-more-info {
  padding: 8px 42px;
}

.slide-more-info::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);

}

.slide-more-info:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);

}

.slide-more-info:active {
  color: rgba(0, 0, 0, 0.3);
  background-image: none;
  background-color: rgb(240, 197, 46);
}

.slide-info {
  margin-top: 53px;
  margin-left: -2px;
  border-collapse: collapse;
  border-spacing: 0;
}

.slide-info td {
  width: 160px;
  padding: 0;
}

.slide-info td:nth-child(2) {
  width: 140px;
}

.table-name td {
  padding-top: 7px;
}

.categories-list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 165px;
}

.category-image {
  position: relative;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.category-image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.category-image:hover {
  background-color: rgb(240, 197, 46);
}

.categories-item-link:active svg,
.categories-item-link:active p {
  opacity: 0.3;
}

.categories-item-link p {
  width: 160px;
}

.services {
  min-height: 288px;
  margin-bottom: 93px;

  background-color: rgb(229, 229, 229);
}

.services .container {
  display: flex;
}

.left-services-col {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 280px;
  height: 156px;

  padding-right: 120px;
  padding-left: 3px;
  margin-top: -14px;
}

.left-services-col::after {
  content: "";

  position: absolute;
  top: -87px;
  left: 277px;

  width: 7px;
  height: 319px;

  background-color: rgb(0, 0, 0);
}

.services-controls button {
  background-color: transparent;
} 

.right-services-col {
  display: flex;
  width: 555px;

  padding-left: 120px;
  margin-top: -31px;
}

.services-slide-delivery,
.services-slide-warranty,
.services-slide-credit {
  position: relative;
}

.services-slide-delivery::after {
  content: "";

  position: absolute;
  left: 558px;
  top: 15px;

  width: 173px;
  height: 195px;

  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-warranty::after {
  content: "";

  position: absolute;
  left: 544px;
  top: -9px;

  width: 173px;
  height: 195px;

  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-credit::after {
  content: "";

  position: absolute;
  left: 537px;
  top: -9px;

  width: 173px;
  height: 195px;

  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-slide-title {
  margin-bottom: 26px;
}

.services-slide-description {
  margin: 0;
}

.partners {
  margin-bottom: 136px;
}

.partners-list {
  display: flex;
  justify-content: space-between;

  padding: 0; 
}

.company-info p {
  letter-spacing: 0;
}

.about {
  position: relative;
  min-height: 605px;
  width: 475px;
  margin-right: 123px;
}

.about::before {
  content: "";

  position: absolute;
  top: -52px;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0)
}

.about-title,
.contacts-title {
  margin: 0;
  margin-bottom: 43px;
}

.about-text {
  width: 475px;
}

.about-text p:nth-child(1) {
  margin: 0;
  margin-bottom: 30px;
}

.about-text p:nth-child(2) {
  margin: 0;
  margin-bottom: 66px;
}

.contacts {
  position: relative;
  min-height: 605px;
  width: 560px;
}

.contacts::before {
  content: "";

  position: absolute;
  top: -52px;
  left: 2px;

  width: 80px;
  height: 7px;

  background-color: rgb(0, 0, 0)
}

.contacts-text {
  margin: 0;
  margin-bottom: 39px;
}

.contacts-map {
  margin-bottom: 65px;
}


.write-us-btn {
  padding: 8px 42px;
}

.about-btn {
  padding: 8px 22px;
}

.about-btn::after,
.write-us-btn::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;

  width: 100%;
  height: 8px;

  background-color: rgb(240, 197, 46);
}

.about-btn:hover::after,
.write-us-btn:hover::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  
  width: 100%;
  height: 100%;

  background-color: rgb(240, 197, 46);
}

.company-info {
  display: flex;
}

.main-footer {
  min-height: 325px;
}

.footer-logo {
  position: relative;
}

.footer-logo-text {
  position: absolute;
  top: 58px;
  left: -2px;

  margin: 0;
}

.footer-top-row {
  display: flex;
  justify-content: flex-end;

  padding-top: 58px;
  padding-bottom: 30px;
}

.footer-user {
  position: relative;
  margin: 0;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.footer-user::before {
  content: "";

  position: absolute;
  top: 13px;
  left: -25px;

  width: 13px;
  height: 12px;

  background-image: url("../img/icons/user-fh.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.footer-interaction-nav {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;

  width: 215px;
}

.footer-interaction-nav-compare,
.footer-interaction-nav-cart {
  position: relative;
}

.footer-interaction-nav-compare::before {
  content: "";

  position: absolute;
  top: 15px;
  left: -20px;

  width: 10px;
  height: 10px;

  background-image: url("../img/icons/compare-fh.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-interaction-nav-cart::before {
  content: "";

  position: absolute;
  top: 13px;
  left: -21px;

  width: 12px;
  height: 12px;

  background-image: url("../img/icons/cart-fh.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-middle-row {
  display: flex;
  justify-content: space-between;
}

.footer-service-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  padding: 0;
}

.footer-bottom-row {
  display: flex;
}

.footer-social {
  display: flex;
  padding: 0;
  margin: 0 auto;
}

.catalog-info-row {
  background-image: linear-gradient(to right, rgb(220, 220, 220) 0%, rgb(220, 220, 220) 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 100%);
}

.catalog-info-row .container {
  display: flex;
}

.catalog-content .container {
  display: flex;
}

.catalog-sort {
  display: flex;
  min-width: 832px;
  

  background-color: rgb(235, 235, 235);
}

.catalog-info-row {
  min-height: 70px;
}

.catalog-sort-types {
  display: flex;
}

.catalog-sort-buttons {
  display: flex;
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 328px;
}

.catalog-left-side {
  background-color: rgb(239, 239, 239);
}

.catalog-right-side {
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 832px;
  margin: 0 0 0 42px;
  padding: 70px 0 0 0;
}

.product {
  width: 360px;
  margin-bottom: 72px;
  margin-left: 30px;
}

.filter-sidebar-caption {
  min-width: 328px;
  background-color: rgb(220, 220, 220);
}